.cardsContainer {
  .card {
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
    width: 25rem;
    height: 43rem;
    border-radius: 20px;
    .imgProduct {
      width: 25rem;
      height: 34rem;
      object-fit: cover;
      overflow: hidden;
    }

    .cardText {
      display: flex;
      flex-direction: column;
      align-items: center;

      .imgBrand {
        width: 4rem;
        height: 2.5rem;
      }

      span {
        font-weight: bold;
      }

      h3 {
        font-size: 20px;
      }
    }
  }
}
